.contact {
  padding: 20px;
  font-size: 16px;
  line-height: 2;
  white-space: pre-line;
  text-align: center;
  word-break: keep-all;
}

.light {
  color: #888;
}

.contactIcons {
  a {
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    background: #f6f6f6;
    font-size: 0;
  }
  a.smsIcon {
    margin-left: 12px;
    svg {
      margin-top: 3px;
    }
  }
  svg {
    display: inline;
  }
}
