.floatingTitle {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  min-width: 280px;

  @media (min-width: 550px) {
    top: -100px;
  }

  .circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    animation: spin 30s ease-in-out infinite;

    @media (min-width: 550px) {
      width: 380px;
      height: 380px;
      animation-duration: 25s;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      width: 280px;
      height: 280px;
      border-radius: 50%;

      @media (min-width: 550px) {
        width: 380px;
        height: 380px;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 82px;
      z-index: 10;
      width: 20px;
      height: 20px;
      background-image: url(/heart_icon.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      animation: spin 4s linear infinite;

      @media (min-width: 550px) {
        right: 110px;
        width: 24px;
        height: 24px;
      }
    }
  }

  h1 {
    position: relative;
    z-index: 1;
    margin-top: 150px;

    text-align: center;
    white-space: pre-line;
    line-height: 1.75;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: -1px;
    transform: translateY(-50%);

    span {
      background: rgba(255, 255, 255, 0.6);
    }

    @media (min-width: 550px) {
      margin-top: 210px;
      font-size: 30px;
    }
  }
}

.welcomeImage {
  width: 100%;
  max-width: 668px;
  max-height: 80%;
  margin: 0 auto;
  object-fit: cover;
  aspect-ratio: 9/16;
  animation: fadeIn 2s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
